.game-area {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.quiz-container {
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.quiz-main-container {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.flag-container {
  max-block-size: 35%;
}

.actual-flag {
  box-shadow: 0 0 25px 5px #b6b666;
  scale: 0.8;
  max-height: 100%;
}

.title-container {
  width: 50rem;
}

.game-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  background-color: rgba(29, 67, 111, 0.7);
  border-radius: 20px;
  color: #f9f871;
  font-family: "Krona One";
  font-style: normal;
  font-size: 20px;
  line-height: 50px;
  padding-left: 40px;
  padding-right: 40px;
}

.hint-and-helps {
  opacity: 0;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  width: 19rem;
  height: 6rem;
  display: flex;
  padding: 10px;
  gap: 10px;
  color: #1d436f;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  cursor: default;
}

.score {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.quizScore {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(29, 67, 111, 0.7);
  border-radius: 20px;
  width: 80%;
  height: 80%;
  color: #d2f87a;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 10px;
}

.quizScore > p {
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.finishButton {
  border: 1px solid #d2f87a;
  box-shadow: 0px 4px 4px #fff7d6;
  border-radius: 15px;
  background-color: #1d436f;
  color: #d2f87a;
  padding-left: 20px;
  padding-right: 20px;
}

.qmc-left {
  padding-top: 20px;
  background: rgba(29, 67, 111, 0.7);
  align-items: center;
  border-radius: 20px;
  padding-bottom: 20px;
  justify-content: space-between;
  height: 32rem;
}

.qmc-right {
  justify-content: space-evenly;
  align-items: center;
}

.qmc-left,
.qmc-right {
  width: 45%;
  display: flex;
  flex-direction: column;
}

.qmc-options {
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.qmc-button {
  width: 16rem;
  background-image: linear-gradient(
    to right top,
    #52edaffc,
    #82f29c,
    #abf689,
    #d2f87a,
    #f9f871
  );
  margin-top: 15px;
  color: #d2f87a;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #1d436f;
  color: #1d436f;
  box-shadow: 0px 4px 4px #f9f871;
}

@media only screen and (max-width: 650px) {
  .title-container {
    width: fit-content;
  }
  .quiz-main-container {
    flex-direction: column;
  }
  .qmc-left,
  .qmc-right {
    width: 100%;
  }
  .hint-and-helps {
    display: none;
  }
  .score {
    margin: 15px 0 15px 0;
  }
}
