.sidebar-main {
  width: 14rem;
  background-image: linear-gradient(
    to right top,
    #52edaf,
    #82f29c,
    #abf689,
    #d2f87a,
    #f9f871
  );
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
  animation-name: sidebar-opening;
  animation-duration: 1s;
  animation-timing-function: ease-out;

}
.btn button {
  width: 11rem;
  background: #1d436f;
  color: #d2f87a;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 2rem;
  height: 2.5rem;
  border: 1px solid #1d436f;
}

.sidebar-main-closed {
  width: 30px;
  background-image: linear-gradient(
    to right top,
    #52edaf,
    #82f29c,
    #abf689,
    #d2f87a,
    #f9f871
  );
  height: 100%;
  padding-left: 2px;
  padding-right: 2px;
  animation-name: sidebar-closing;
  animation-duration: 1s;
}

.sidebar-main-closed > .btn {
  width: 0px;
}

.open {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  color: #1d436f;
}

.closed {
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  color: #1d436f;
  padding: 0.5rem;
  font-weight: 900;
}

.btn .logout {
  background-color: #f9f871;
  justify-content: center;
  align-items: center;
  gap: 10px;
  opacity: 0.5;
  height: 2.5rem;
  color: gray;
}

.fa-user {
  scale: 5;
  color: #1d436f;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 2rem;
  margin-top: 5rem;

}

.fa-chevron-left {
  scale: 2;
  margin-top: 2rem;
}

.fa-chevron-right {
  scale: 2;
  margin-top: 2rem;
}

.open-user-icon,
.btn {
  animation-name: appear;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
}

.sidebar-hidden {
  display: none;
  height: 100%;
}

@keyframes sidebar-closing {
  from {
    width: 14rem;
    background-image: linear-gradient(
      to right top,
      #52edaf,
      #82f29c,
      #abf689,
      #d2f87a,
      #f9f871
    );
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
  }
  to {
    width: 30px;
    background-image: linear-gradient(
      to right top,
      #52edaf,
      #82f29c,
      #abf689,
      #d2f87a,
      #f9f871
    );
    height: 100%;
    padding-left: 2px;
    padding-right: 2px;
  }
}

@keyframes sidebar-opening {
  from {
    width: 30px;
    background-image: linear-gradient(
      to right top,
      #52edaf,
      #82f29c,
      #abf689,
      #d2f87a,
      #f9f871
    );
    height: 100%;
    padding-left: 2px;
    padding-right: 2px;
  }
  to {
    width: 14rem;
    background-image: linear-gradient(
      to right top,
      #52edaf,
      #82f29c,
      #abf689,
      #d2f87a,
      #f9f871
    );
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 650px) {
  .sidebar-main {
    position: fixed;
    z-index: 10;
    overflow: hidden;
  }

  .sidebar-main-closed {
    position: fixed;
    z-index: 10;
  }
}
#root > div > div > div.sidebar-main > div.open-user-icon > span{
display: flex;
align-items: center;
justify-content: center;
color:#1d436f;
width: 11rem;
height: 3rem;
margin: 0 auto;
padding-bottom: 2rem;
font-family: "Krona One";
font-style: normal;
font-size: 20px;
}

